*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}

.flex{
    display: flex;
}

.row{
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.row-speaker{
    margin-right: 10px;
    background-color: #525252;
    border-radius: 5px;
    padding: 4px;
    font-size: 20px;
}

.row-speaker:hover{
    cursor: pointer;
}

.row-speaker i{
    padding: 0 7px;
}

/* --------- start main --------- */
.container{
    width: 90%;
    border: 2px solid red;
    margin: 20px auto;
    flex-wrap: wrap;
}

.items{
    width: 15vw;
    margin: 10px;
}

.items img{
    object-fit: cover;
    width: 20vw;
    height: 15vh;
}
/* --------- finish main --------- */
