*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.row{
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
}

.row-speaker{
    margin-right: 10px;
    background-color: #525252;
    border-radius: 5px;
    padding: 4px;
    font-size: 20px;
}

.row-speaker:hover{
    cursor: pointer;
}

.row-speaker span{
    font-size: 14px;
}

i{
    padding: 0 7px;
    font-size: 14px;
    align-self: center;
}

/* --------- start main --------- */
.container{
    width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.items{
    width: calc(100% / 5 - 20px);
    margin: 10px;
    position: relative;
}

.items img{
    object-fit: cover;
    width: 20vw;
    height: 15vh;
}

.name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    font-size: 14px;
    width: 7vw;
    background-color: #525252;
}
/* --------- finish main --------- */


/* --------- start footer --------- */
.nav-row-bottom{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 52, 52);
}

.list-left-item{
    height: 50px;
    margin: 0 7px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.nav-row-bottom i{
    font-size: 25px;
    margin-bottom: 5px;
}

.nav-row-bottom p{
    font-size: 15px;
}

.list-right{
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: red;
}

.list-right p{
    font-size: 12px;
}
/* --------- finish footer --------- */

